# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Data files (MovieLens etc.)
data/

# OS files
.DS_Store
Thumbs.db

#models
models/

#metadata
src/prototype/token_rules.txt